
* {
    margin: 0%;
    padding: 0%
}

body {
    font-family: 'Arial', sans-serif;
    background-image: url('./background1dark.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    backdrop-filter: blur(10px);
    background-attachment: fixed;
}

/* Auth PAGE */
  .auth-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
  }

  .auth-container > h1 {
    font-size: 2em;
    margin: 24px;
  }
  
  .auth-container > p {
    margin: 16px;
  }
  
  .auth-container > form {
    border: 1px solid #333;
    padding: 50px;
    border-radius: 5px;
    background-color: #aaa9;
    display: flex;
    flex-direction: column;
  }
  
  .auth-container > form > input {
    margin: 10px 0px;
    padding: 10px 30px;
    border-radius: 4px;
    border: none;
  }
  
  .log-btn {
    font-size: 14px;
    margin-top: 30px;
    padding: 16px 20px;
    border-radius: 20px;
    background-color: whitesmoke;
    border: 1px solid gray;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    width: 100%;
    color: #333;
    box-shadow: 0px 2px 2px black;
    cursor: pointer;
    transition: .5s;
  }

  .log-btn:hover,
  .log-btn:active,
  .log-btn:focus {
    border-color: black;
    outline: none;
  }

  .auth-member {
    padding: 16px 20px;
    background-color: gray;
    color: #333;
    font-size: 14px;
    font-weight: 700;
    border-radius: 20px;
    text-align: center;
    margin: 0;
    transition: background-color 0.6s ease;
    cursor: pointer;
    text-transform: uppercase;
  }

  .auth-member:hover {
    background-color: #6f100a;
  }

  .auth-text {
    margin-bottom: 20px;
    font-size: 20px;
    color: gray;
  }

  /* NAVBAR */
  .navbar {
    background-color: rgba(51, 51, 51, 0.8);
    position: sticky;
    top: 0;
    width: 18vw;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-left: 0%;
    margin-bottom: 20px;
  }

  .navbar a, .navbar button {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .navbar a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 20px;
  }

  .navbar button {
    background-color: transparent;
    color: #f2f2f2;
    border: none;
    cursor: pointer;
  }

  .navbar button:hover {
    background-color: #92140C;
    border-radius: 20px;
  }

  @media screen and (max-width: 768px) {
    .navbar {
      width: 80vw; 
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      transform: translateX(-12%);
    }
  
  }

  /* ALL BIKES page styling */
  .profile-div {
    max-width: 600px;
    margin: 20px auto;
    margin-top: 0px;
    padding: 20px;
    background-color: rgba(245, 245, 245, 0.502);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
  }

  /* .profile-div :hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)
  } */

  .welcome-user {
    font-size: 24px;
    color: rgb(35, 35, 35);
    margin-bottom: 10px;
}
    
.profile-h2 {
    font-size: 20px;
    color: rgb(65, 64, 64);
    margin-bottom: 5px;
    margin-left: 200px;
    display: none;
}

  .bike-list-profile {
    background-color: rgba(132, 130, 130, 0.279);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }

  .bike-form {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }

  .bike-form input {
    background-color: whitesmoke;
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: box-shadow 0.3s ease-in-out;
}

.bike-form input:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.bike-list-bike {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s ease-in-out;
}

.bike-list-bike:hover {
    border-color: #333;
}

.bike-list-image {
    max-width: 400px;
    max-height: 400px;
}

  .bikeform-submit {
    background-color: #92140C;
    color: #fff;
    padding: 8px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 0px;
    margin-top: 3px;
    transition: background-color 0.3s ease;
    width: 100%;
  }

  .bikeform-submit:hover {
    background-color: #6f100a;
  }

  /* search page styling */
  .search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
  }
  .search-input {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 30vw;
  }

  .search-button {
    background-color: #92140C;
    color: white;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s ease;
  }

  .search-button:hover {
    background-color: #6f100a;
  }

  .search-results-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vw;
  }

  .search-bikes {
    margin-bottom: 10px;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    background-color: #333;
    border: 1px solid #555; 
    border-radius: 8px;
}
.search-bikes:hover{
    border: 1px solid #333;
}
  .no-result-text {
    color: #92140C;
  }

/* Loading Page */
.page-loading-container {
    border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg);
	color: var(--fg);
	display: flex;
	font: 1em/1.5 sans-serif;
	height: 100vh;
	transition:
		background-color var(--trans-dur),
		color var(--trans-dur);
}

/* :root {
	--hue: 223;
	--bg: hsl(var(--hue),90%,90%);
	--fg: hsl(var(--hue),90%,10%);
	--primary: hsl(var(--hue),90%,50%);
	--trans-dur: 0.3s;
	font-size: calc(16px + (32 - 16) * (100vw - 320px) / (2560 - 320));
} */

.bike {
	display: block;
	margin: auto;
	width: 16em;
	height: auto;
}
.bike__body,
.bike__front,
.bike__handlebars,
.bike__pedals,
.bike__pedals-spin,
.bike__seat,
.bike__spokes,
.bike__spokes-spin,
.bike__tire {
	animation: bikeBody 3s ease-in-out infinite;
	stroke: var(--primary);
	transition: stroke var(--trans-dur);
}
.bike__front {
	animation-name: bikeFront;
}
.bike__handlebars {
	animation-name: bikeHandlebars;
}
.bike__pedals {
	animation-name: bikePedals;
}
.bike__pedals-spin {
	animation-name: bikePedalsSpin;
}
.bike__seat {
	animation-name: bikeSeat;
}
.bike__spokes,
.bike__tire {
	stroke: currentColor;
}
.bike__spokes {
	animation-name: bikeSpokes;
}
.bike__spokes-spin {
	animation-name: bikeSpokesSpin;
}
.bike__tire {
	animation-name: bikeTire;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
	:root {
		--bg: hsl(var(--hue),90%,10%);
		--fg: hsl(var(--hue),90%,90%);
	}
}

/* Animations */
@keyframes bikeBody {
	from { stroke-dashoffset: 79; }
	33%,
	67% { stroke-dashoffset: 0; }
	to { stroke-dashoffset: -79; }
}
@keyframes bikeFront {
	from { stroke-dashoffset: 19; }
	33%,
	67% { stroke-dashoffset: 0; }
	to { stroke-dashoffset: -19; }
}
@keyframes bikeHandlebars {
	from { stroke-dashoffset: 10; }
	33%,
	67% { stroke-dashoffset: 0; }
	to { stroke-dashoffset: -10; }
}
@keyframes bikePedals {
	from {
		animation-timing-function: ease-in;
		stroke-dashoffset: -25.133;
	}
	33%,
	67% {
		animation-timing-function: ease-out;
		stroke-dashoffset: -21.991;
	}
	to {
		stroke-dashoffset: -25.133;
	}
}
@keyframes bikePedalsSpin {
	from { transform: rotate(0.1875turn); }
	to { transform: rotate(3.1875turn); }
}
@keyframes bikeSeat {
	from { stroke-dashoffset: 5; }
	33%,
	67% { stroke-dashoffset: 0; }
	to { stroke-dashoffset: -5; }
}
@keyframes bikeSpokes {
	from {
		animation-timing-function: ease-in;
		stroke-dashoffset: -31.416;
	}
	33%,
	67% {
		animation-timing-function: ease-out;
		stroke-dashoffset: -23.562;
	}
	to {
		stroke-dashoffset: -31.416;
	}
}
@keyframes bikeSpokesSpin {
	from { transform: rotate(0); }
	to { transform: rotate(3turn); }
}
@keyframes bikeTire {
	from {
		animation-timing-function: ease-in;
		stroke-dashoffset: 56.549;
		transform: rotate(0);
	}
	33% {
		stroke-dashoffset: 0;
		transform: rotate(0.33turn);
	}
	67% {
		animation-timing-function: ease-out;
		stroke-dashoffset: 0;
		transform: rotate(0.67turn);
	}
	to {
		stroke-dashoffset: -56.549;
		transform: rotate(1turn);
	}
}